<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <!-- <h1>Dashboard</h1>
    <%=user.businessName%> -->

    <div class="main">
        <h1>Dashboard</h1>

        <div class="seller-info">

            <div class="header">
                <h1>
                    <%=user.businessName%>
                </h1>
            </div>

            <div class="action-links">
                <a href="/add-info">Add store info</a>
                <a href="/add-category">Add Category</a>
                <a href="/add-inventory">Add Inventory</a>
            </div>
        </div>
    </div>
</body>

</html>